
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel, .sidebar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.sidebar {
  position: fixed;
  top: 50px;
  width: 220px;
  height: 100%;
  z-index: 1000;
  display: block;
  padding-top: 25px;
}
.table>thead>tr>td, .table>thead>tr>th
{
  border: 0;
}